<header class="main-header">
  <nav class="navbar">
    <div class="logo-section">
      <img src="assets/img/hospital-logo.png" alt="Logo" class="nav-logo">
      <span class="system-name">Citas Médicas</span>
    </div>

    <ul class="nav-links">

      
      <li><a routerLink="/" routerLinkActive="active"><i class="fa-solid fa-house">
      </i> Inicio</a></li>



      <li *ngIf="isLoggedIn()"><a routerLink="/IndexDash" routerLinkActive="active"><i class="fa-solid fa-user-doctor">
      </i> Dashboard</a></li>



      <li *ngIf="!isLoggedIn()"><a routerLink="/login" routerLinkActive="active"><i class="fa-solid fa-user">
      </i> Iniciar Sesión</a></li>



      <li *ngIf="isLoggedIn()">
        <a (click)="logout()" style="cursor: pointer;"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
      </li>



    </ul>

    <button class="mode-toggle" type="button" (click)="toggleMode()">
  {{ isDarkMode ? '☀️ Modo Claro' : '🌙 Modo Oscuro' }}
</button>

  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
